<div class="panel panel-default">
	<div class="panel-body">
    <form class="form-horizontal">
      <fieldset>
      	<legend>Visit Information</legend>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="col-lg-2 control-label">Reason of Visit:</label>
            <div class="col-lg-10">
              <!--<textarea class="form-control" type="text" name="checkout-name" required=""></textarea>-->
              <label class="col-lg-10">{{ valForm.get('ReasonofVisit').value | json }}</label>
              <br>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="col-lg-2 control-label">Medical History:</label>
            <div class="col-lg-10">
              <!--<textarea class="form-control" type="text" name="checkout-name" required=""></textarea>-->
              <label class="col-lg-10" name="MedicalHistory"> {{ valForm.get('MedicalHistory').value | json }}</label>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Vitals</legend>
        <div class="form-group">
          <div class="col-lg-12">
            <label class="col-lg-2 control-label">Body Temperature</label>
            <div class="col-lg-10">
              <!--<input class="form-control" type="text" name="checkout-name" required="" />-->
              <label class="col-lg-10" name="BodyTemp">{{ valForm.get('BodyTemp').value | json }}</label>
              <br>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <label class="col-lg-2 control-label">Pulse Rate</label>
            <div class="col-lg-10">
              <!--<input class="form-control" type="text" name="checkout-name" required="" />-->
              <label class="col-lg-10" name="PulseRate">{{ valForm.get('PulseRate').value | json }}</label>
              <br>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <label class="col-lg-2 control-label">Respiration Rate</label>
            <div class="col-lg-10">
              <!--<input class="form-control" type="text" name="checkout-name" required="" />-->
              <label class="col-lg-10" name="RespirationRate">{{ valForm.get('RespirationRate').value | json }}</label>
              <br>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <label class="col-lg-2 control-label">Blood Pressure</label>
            <div class="col-lg-10">
              <!--<input class="form-control" type="text" name="checkout-name" required="" />-->
              <label class="col-lg-10 control-label" name="BloodPressure">{{ valForm.get('BloodPressure').value | json }}</label>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Medication</legend>
        <div class="form-group">
          <div class="col-lg-12">
            <label class="col-lg-2 control-label">Current Medication</label>
            <div class="col-lg-10">
              <!--<textarea class="form-control" type="text" name="checkout-name" required=""></textarea>-->
              <label class="col-lg-10 control-label" name="CurrentMedication">{{ valForm.get('CurrentMedication').value | json }}</label>
              <br>
            </div>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-12">
        		<label class="col-sm-2"><div class="pull-right">Prescribed Medicines</div></label>
        		<label class="col-sm-2  pull-left">Medicine Name</label>
        		<label class="col-sm-2  pull-left">Interval (in hours)</label>
        		<label class="col-sm-2  pull-left">Special Instruction</label>
        	</div>
        	<div class="col-lg-12">
        		<div class="col-md-2"></div>
        		<div class="col-md-2">
					<!--<input class="form-control" type="text" name="medicine_name">-->
					<label class="col-lg-2 control-label" name="MedicineName">{{ valForm.get('MedicineName').value | json }}</label>
                </div>
                <div class="col-md-2">
                    <!--<input class="form-control" type="number" name="medicine_interval">-->
                    <label class="col-lg-2 control-label" name="Interval">{{ valForm.get('Interval').value | json }}</label>
                </div>
                <div class="col-md-2">
                	<!--<input class="form-control" type="text" name="special_instruction">-->
                	<label class="col-lg-2 control-label" name="SpecialInstruction">{{ valForm.get('SpecialInstruction').value | json }}</label>
                </div>
        	</div>
        	<!--<div class="col-lg-12">
        		<div class="col-md-2"></div>
        		<div class="col-md-2">
        			<a id="add_prescription_rows" class="btn btn-link" href="#">Add more rows</a>		
        		</div>
        	</div>-->
        </div>
      </fieldset>
      <fieldset>
        	<legend>Assessment and Plan of Care</legend>
        	<div class="form-group">
          		<div class="col-lg-12">
            		<label class="col-lg-2 control-label">Plan of Care</label>
            		<div class="col-lg-10">
              			<!--<textarea class="form-control" type="text" name="checkout-name" required="" ></textarea>-->
              			<label class="col-lg-10" name="PlanCare">{{ valForm.get('PlanCare').value | json }}</label>
              			<br>
            		</div>
          		</div>
          		<div class="col-lg-12">
            		<label class="col-lg-2 control-label">Next Visit</label>
            		<div class="col-lg-10">
              			<!--<input class="form-control" type="date" name="checkout-name" required="" />-->
              			<label class="col-lg-10" name="NextVisit">{{ valForm.get('NextVisit').value | json }}</label>
              			<br>
            		</div>
          		</div>
        	</div>
    	</fieldset>
    	<fieldset>
        	<legend>Lab Test Needs</legend>
        	<div class="form-group">
          		<div class="col-lg-12">
            		<label class="col-lg-2 control-label">Laboratory Tests</label>
            		<div class="col-lg-10">
              			<!--<input class="form-control" type="text" name="checkout-name" required="" />-->
              			<label class="col-lg-10" name="LaboratoryTest">{{ valForm.get('LaboratoryTest').value | json }}</label>
              			<br>
            		</div>
          		</div>
          		<div class="col-lg-12">
            		<label class="col-lg-2 control-label">Other Tests</label>
            		<div class="col-lg-10">
              			<!--<textarea class="form-control" type="text" name="checkout-name" required="" ></textarea>-->
              			<label class="col-lg-10" name="OtherTests">{{ valForm.get('OtherTests').value | json }}</label>
              			<br>
            		</div>
          		</div>
          		<div class="col-lg-12">
            		<label class="col-lg-2 control-label">Laboratory</label>
            		<div class="col-lg-10">
              			<!--<input class="form-control" type="text" name="checkout-name" required="" />-->
              			<label class="col-lg-10" name="Laboratory">{{ valForm.get('Laboratory').value | json }}</label>
              			<br>
            		</div>
          		</div>
        	</div>
    	</fieldset>
      <div class="pt clearfix">
        <div class="col-lg-12">
          <div class="form-group">
            <p class="pull-right text-sm"><i>Fields marked with (*) are required</i></p>
            <div class="pull-left">
              <button class="btn btn-primary" type="button" (click)="loadModel(viewPatientReportModel.show())">View Report</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" #modal bsModal #viewPatientReportModel='bs-modal' [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="viewPatientReportModel.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Classic modal</h4>
      </div>
      <div class="modal-body">
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </div>
    </div>
  </div>
</div>
