<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div *ngIf="showPatientList">
    <div class="content-heading">
        Patient List
        <!--<small>Native and not wrapped angular2 based data-tables</small>-->
    </div>
    <div class="mb-lg clearfix">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="pull-let wd-md">
                    <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
                </div>        
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a class="btn btn-labeled btn-primary" type="button" (click)="addPatient();">
                        <span class="btn-label"><i class="fa fa-plus"></i>
                        </span>Add Patient
                    </a>
                </div>  
            </div>           
        </div>
    </div>
    <div class="panel panel-default">
        <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="getPatientDetail($event)" [rows]="rows" [columns]="columns">
        </ng-table>
    </div>
    <div class="text-right">
        <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
    </div>
</div>
<!-- <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre> -->
<!--<br>
<h4 class="page-header">Angular2 Datatable
    <small>Simple table component with sorting and pagination for Angular2</small>
</h4>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right text-muted"><em class="fa fa-user mr-sm"></em><strong>{{singleData?.length}}</strong> users</div>
        User information
    </div>
    <table class="table table-striped" [mfData]="singleData" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th style="width: 20%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 40%">
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="age">Age</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="city">City</mfDefaultSorter>
                </th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td class="text-right">{{item.age}}</td>
                <td>{{item.city | uppercase}}</td>
                <td>
                    <button class="btn btn-danger btn-xs" title="remove" (click)="removeItem(item)">
                        <span class="fa fa-times"></span>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>-->
<div *ngIf="showRecords">
    <div class="row">
        <div class="col-md-12">
            <div class="content-heading">
                Patient Record
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel b">
                <div class="panel-heading bb">
                    <h4 class="panel-title">{{ patientBasicInfo.FirstName }} {{ patientBasicInfo.MiddleName }} {{ patientBasicInfo.Last_name }}</h4>
                </div>
                <div class="panel-body bt">
                    <h4 class="b0">
                        Patient id # {{ patientBasicInfo.PatientId }} 
                    </h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Gender</td>
                            <td>
                                <div class="text-right text-bold">{{patientBasicInfo.Gender}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>
                                <div class="text-right text-bold">{{patientBasicInfo.DOB}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>
                                <div class="text-right text-bold">{{patientBasicInfo.Phone}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <div class="text-right text-bold">{{patientBasicInfo.Emailid}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>
                                <div class="text-right text-bold">{{patientBasicInfo.City}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--<div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-right text-right">
                            <div class="text-bold">$406.44</div>
                            <div class="text-sm">USD</div>
                        </div>
                        <div class="pull-left text-bold text-dark">ORDER TOTAL</div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        <button class="btn btn-primary btn-block" type="button">EXPRESS CHECKOUT</button>
                    </p>
                    <small class="text-muted">* To use this method you must be registered first</small>
                </div>-->
            </div>
        </div>
        <div class="col-md-9">
            <!--<div class="container-md">-->
            <div>
                <!-- Checkout Process-->
                <form action="" method="post" novalidate="novalidate">
                    <accordion [closeOthers]="true" class="panel-group">
                        <!-- Checkout Method-->
                        <accordion-group #stepgroup1 [isOpen]="step1" panelClass="b mt-sm">
                            <div accordion-heading>1. Vising Summary
                                <button class='mb-sm btn-sm btn btn-primary btn-outline pull-right' type='button' (click)="onPatientList()">
                                    <i class="icon-action-undo"> Back</i></button>
                            </div>
                            <app-patientdetails [patientReportDetail]="patientData"></app-patientdetails>
                        </accordion-group>




                        <!-- Billing Information-->
                        <accordion-group #stepgroup2 [isOpen]="step2" panelClass="b mt-sm">
                            <div accordion-heading>2. Billing Information</div>
                            <div id="collapse02">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            <input class="form-control" type="text" name="checkout-name" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Company</label>
                                            <input class="form-control" type="text" name="checkout-company" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            <input class="form-control" type="text" name="checkout-lastname" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Email Address*</label>
                                            <input class="form-control" type="text" name="checkout-email" required="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input class="form-control" type="text" name="checkout-address" required="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>City*</label>
                                            <input class="form-control" type="text" name="checkout-city" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Zip/Postal Code*</label>
                                            <input class="form-control" type="text" name="checkout-zip" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Telephone*</label>
                                            <input class="form-control" type="text" name="checkout-telephone" required="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>State/Province*</label>
                                            <input class="form-control" type="text" name="checkout-state" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Country*</label>
                                            <input class="form-control" type="text" name="checkout-country" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Fax</label>
                                            <input class="form-control" type="text" name="checkout-fax" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mv">
                                    <div class="radio c-radio">
                                        <label>
                                            <input id="chk-guest" type="radio" name="checkout-ship-to" value="address" />
                                            <span class="fa fa-check"></span>Ship to this address</label>
                                    </div>
                                    <div class="radio c-radio">
                                        <label>
                                            <input id="chk-guest" type="radio" name="checkout-ship-to" value="other" />
                                            <span class="fa fa-check"></span>Ship to different address</label>
                                    </div>
                                </div>
                                <div class="pt clearfix">
                                    <p class="pull-right text-sm"><i>Fields marked with (*) are required</i>
                                    </p>
                                    <div class="pull-left">
                                        <button class="btn btn-primary" type="button" (click)="stepgroup3.isOpen = true">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                        <!-- Shipping Information-->
                        <accordion-group #stepgroup3 [isOpen]="step3" panelClass="b mt-sm">
                            <div accordion-heading>3. Shipping Information</div>
                            <div id="collapse03">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            <input class="form-control" type="text" name="checkout-ship-name" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Company</label>
                                            <input class="form-control" type="text" name="checkout-ship-company" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            <input class="form-control" type="text" name="checkout-ship-lastname" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Email Address*</label>
                                            <input class="form-control" type="text" name="checkout-ship-email" required="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input class="form-control" type="text" name="checkout-ship-address" required="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>City*</label>
                                            <input class="form-control" type="text" name="checkout-ship-city" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Zip/Postal Code*</label>
                                            <input class="form-control" type="text" name="checkout-ship-zip" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Telephone*</label>
                                            <input class="form-control" type="text" name="checkout-ship-telephone" required="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>State/Province*</label>
                                            <input class="form-control" type="text" name="checkout-ship-state" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Country*</label>
                                            <input class="form-control" type="text" name="checkout-ship-country" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Fax</label>
                                            <input class="form-control" type="text" name="checkout-ship-fax" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mv">
                                    <div class="checkbox c-checkbox">
                                        <label>
                                            <input id="chk-guest" type="checkbox" name="checkout-use-bill-address" />
                                            <span class="fa fa-check"></span>Use Billing Address</label>
                                    </div>
                                </div>
                                <div class="pt clearfix">
                                    <p class="pull-right text-sm"><i>Fields marked with (*) are required</i>
                                    </p>
                                    <div class="pull-left">
                                        <button class="btn btn-primary" type="button" (click)="stepgroup4.isOpen = true">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                        <!-- Shipping Method-->
                        <accordion-group #stepgroup4 [isOpen]="step4" panelClass="b mt-sm">
                            <div accordion-heading>4. Shipping Method</div>
                            <div id="collapse04">
                                <table class="table">
                                    <thead class="bg-gray-lighter">
                                        <tr>
                                            <th class="wd-xxs">
                                                <em class="fa fa-check text-muted ml-sm"></em>
                                            </th>
                                            <th>Method</th>
                                            <th>Deliver Time</th>
                                            <th>Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="radio c-radio">
                                                    <label>
                                                        <input id="chk-guest" type="radio" name="checkout-ship" value="free" />
                                                        <span class="fa fa-check"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <strong>Free Shipping</strong>
                                            </td>
                                            <td>10 to 15 days</td>
                                            <td>
                                                <strong class="h4 text-green">Free</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="radio c-radio">
                                                    <label>
                                                        <input id="chk-guest" type="radio" name="checkout-ship" value="std" />
                                                        <span class="fa fa-check"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <strong>Standard post</strong>
                                            </td>
                                            <td>4 to 7 days</td>
                                            <td>
                                                <strong class="h4">$9.95</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="radio c-radio">
                                                    <label>
                                                        <input id="chk-guest" type="radio" name="checkout-ship" value="next" />
                                                        <span class="fa fa-check"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <strong>Next day</strong>
                                            </td>
                                            <td>tomorrow</td>
                                            <td>
                                                <strong class="h4">$19</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pt clearfix">
                                    <div class="pull-left">
                                        <button class="btn btn-primary" type="button" (click)="stepgroup5.isOpen = true">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                        <!-- Payment Information-->
                        <accordion-group #stepgroup5 [isOpen]="step5" panelClass="b mt-sm">
                            <div accordion-heading>5. Payment Information</div>
                            <div id="collapse05">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="radio c-radio">
                                                <label>
                                                    <input class="form-control" id="chk-guest" type="radio" name="checkout-pay" value="paypal" checked="checked" />
                                                    <span class="fa fa-check"></span>Paypal</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="radio c-radio">
                                                <label>
                                                    <input class="form-control" id="chk-guest" type="radio" name="checkout-pay" value="check" />
                                                    <span class="fa fa-check"></span>Check / Money order</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="radio c-radio">
                                                <label>
                                                    <input class="form-control" id="chk-guest" type="radio" name="checkout-pay" value="creditcard" />
                                                    <span class="fa fa-check"></span>Credit Card (saved)</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Name on Card*</label>
                                            <input class="form-control" type="text" name="checkout-cc-name" required="" />
                                        </div>
                                        <div class="form-group">
                                            <label>Credit Card Type*</label>
                                            <select class="form-control" name="checkout-cc-type" required="">
                                                <option value="">- Please Select -</option>
                                                <option value="amex">American Express</option>
                                                <option value="visa">Visa</option>
                                                <option value="master">Mastercard</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Credit Card Number*</label>
                                            <input class="form-control" type="text" name="checkout-cc-number" required="" />
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="form-group">
                                                    <label>Credit Expiration month*</label>
                                                    <select class="form-control" name="checkout-cc-exp-month" required="">
                                                        <option value="">Month</option>
                                                        <option value="1">January</option>
                                                        <option value="2">February</option>
                                                        <option value="3">March</option>
                                                        <option value="4">April</option>
                                                        <option value="5">May</option>
                                                        <option value="6">June</option>
                                                        <option value="7">Jule</option>
                                                        <option value="8">August</option>
                                                        <option value="9">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="form-group">
                                                    <label>Credit Expiration year*</label>
                                                    <select class="form-control" name="checkout-cc-exp-year" required="">
                                                        <option value="">Year</option>
                                                        <option value="2016">2016</option>
                                                        <option value="2017">2017</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label>CNV*</label>
                                                    <input class="form-control" type="text" name="checkout-cc-verification" required="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pt clearfix">
                                <p class="pull-right text-sm"><i>Fields marked with (*) are required</i>
                                </p>
                                <div class="pull-left">
                                    <button class="btn btn-primary" type="button" (click)="stepgroup6.isOpen = true">Continue</button>
                                </div>
                            </div>
                        </accordion-group>
                        <!-- Order Review-->
                        <accordion-group #stepgroup6 [isOpen]="step6" panelClass="b mt-sm">
                            <div accordion-heading>6. Order Review</div>
                            <div id="collapse06">
                                <div class="table-responsive">
                                    <table class="table">
                                        <colgroup>
                                            <col class="order-pic" span="1" />
                                            <col class="order-item-name" span="1" />
                                            <col class="order-qty" span="1" />
                                            <col class="order-price" span="1" />
                                            <col class="order-tax" span="1" />
                                            <col class="order-total" span="1" />
                                        </colgroup>
                                        <thead class="bg-gray-lighter">
                                            <tr>
                                                <th>Product</th>
                                                <th>Product Title</th>
                                                <th class="wd-xs">Qty</th>
                                                <th>Unit Price</th>
                                                <th>Tax</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5">Subtotal</td>
                                                <td>$1540.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">Shipping &amp; Handling (Free)</td>
                                                <td>$0.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">Tax</td>
                                                <td>$49.00</td>
                                            </tr>
                                            <tr class="order-subtotal">
                                                <td colspan="5">Subtotal</td>
                                                <td>$1340.00</td>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td class="order-pic thumb64">
                                                    <img src="assets/img/dummy.png" />
                                                </td>
                                                <td class="order-item-name">Lorem Ipsum dolor</td>
                                                <td class="order-qty">
                                                    <input class="form-control" type="text" name="checkout-qty" value="1" />
                                                </td>
                                                <td class="order-price">$825.00</td>
                                                <td class="order-tax">$16.00</td>
                                                <td class="order-total">$841.00</td>
                                            </tr>
                                            <tr>
                                                <td class="order-pic">
                                                    <img src="assets/img/dummy.png" />
                                                </td>
                                                <td class="order-item-name">Lorem Ipsum dolor</td>
                                                <td class="order-qty">
                                                    <input class="form-control" type="text" name="checkout-qty" value="1" />
                                                </td>
                                                <td class="order-price">$825.00</td>
                                                <td class="order-tax">$16.00</td>
                                                <td class="order-total">$841.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mt-lg">
                                    <button class="btn btn-info" type="button" (click)="stepgroup1.isOpen = true">Submit Order</button>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </form>
            </div>
        </div>
    </div>
</div>
