<div class="container-fluid">
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <div class="row">
    <div class="col-md-2"></div>
    <!--Space from right side-->
    <div class="col-md-8">
      <div class="panel panel-dark panel-flat">
        <!-- <div class="panel-heading text-center">
          <strong>Patient Registration</strong>
        </div> -->
        <form [formGroup]="valForm" role="form" name="registerForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
          <!-- START panel-->
          <div class="panel panel-default">
            <div class="panel-body">
              <fieldset class="b0">
                <legend>One step away!!!</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Date of Birth*</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="date" placeholder="Date of Birth" formControlName="DateOfBirth" [formControl]="valForm.controls['DateOfBirth']" required />
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['DateOfBirth'].hasError('required') && (valForm.controls['DateOfBirth'].dirty || valForm.controls['DateOfBirth'].touched)">
                      <span class="text-white control-label">Date of Birth is required</span>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label">Gender*</label>
                  <div class="col-sm-4 on-focus clearfix">
                  	<select class="form-control" formControlName="Gender" [formControl]="valForm.controls['Gender']" required>
                  		<option value="" disabled selected="selected">Select gender</option>
  						        <option>Male</option>
  						        <option>Female</option>
					          </select>
					          <div class="tool-tip slideIn top" *ngIf="valForm.controls['Gender'].hasError('required') && (valForm.controls['Gender'].dirty || valForm.controls['Gender'].touched)">
                      <span class="text-white control-label">Last name is required</span>
                    </div>
				          </div>
                </div>
              </fieldset>
              <fieldset class="b0">
                <legend>Address</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Address1*</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="text" placeholder="Address1" formControlName="Address1" [formControl]="valForm.controls['Address1']" required />
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['Address1'].hasError('required') && (valForm.controls['Address1'].dirty || valForm.controls['Address1'].touched)">
                      <span class="text-white control-label">First name is required</span>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label">Address2</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="text" placeholder="Address2" formControlName="Address2" [formControl]="valForm.controls['Address2']" />
                  </div>
                </div>
              </fieldset>
              <fieldset class="b0">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Address3</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="text" placeholder="Address3" formControlName="Address3" [formControl]="valForm.controls['Address3']" />
                  </div>
                  <label class="col-sm-2 control-label">Country*</label>
                  <div class="col-sm-4 on-focus clearfix">
					<input  ngui-auto-complete
                    		formControlName="Country"
                    		[formControl]="valForm.controls['Country']"
                    		[source]="getCountry.bind(this)"
                    		[list-formatter]="autocompleForCountry"
                   			display-property-name="CountryName"
                   			value-property-name="CountryId"
                   			placeholder="Type Country name..."
                   			class="form-control"
                   			accept-user-input="true"
                   			no-match-found-text="No Match Found"
                   			loading-text="Searching in database..."
                    		min-chars="2" required>
                  </div>
                </div>
              </fieldset>
              <fieldset class="b0">
                <div class="form-group">
                  <label class="col-sm-2 control-label">State*</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input  ngui-auto-complete
                    		formControlName="State"
                    		[formControl]="valForm.controls['State']"
                    		[source]="getState.bind(this)"
                    		[list-formatter]="autocompleForState"
                   			display-property-name="StateName"
                   			value-property-name="StateId"
                   			placeholder="Type State name..."
                   			class="form-control"
                   			accept-user-input="true"
                   			no-match-found-text="No Match Found"
                   			loading-text="Searching in database..."
                    		min-chars="2" required>
                  </div>
                  <label class="col-sm-2 control-label">City*</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input  ngui-auto-complete
                    		formControlName="City"
                    		[formControl]="valForm.controls['City']"
                    		[source]="getCity.bind(this)"
                    		[list-formatter]="autocompleForCity"
                   			display-property-name="CityName"
                   			value-property-name="CityId"
                   			placeholder="Type City name..."
                   			class="form-control"
                   			accept-user-input="true"
                   			no-match-found-text="No Match Found"
                   			loading-text="Searching in database..."
                    		min-chars="2" required>
                  </div>
                </div>
              </fieldset>
              <fieldset class="b0">
                <div class="form-group">
                  <label class="col-sm-2 control-label">ZIP</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="text" placeholder="ZIP" formControlName="ZIP" [formControl]="valForm.controls['ZIP']" required />
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['ZIP'].hasError('required') && (valForm.controls['ZIP'].dirty || valForm.controls['ZIP'].touched)">
                      <span class="text-white">ZIP is required.</span>
                    </div>
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['ZIP'].hasError('pattern') && (valForm.controls['ZIP'].dirty || valForm.controls['ZIP'].touched)">
                      <span class="text-white">Mobile number must be digit.</span>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label">Relationship</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="text" placeholder="Relationship" formControlName="Relationship" [formControl]="valForm.controls['Relationship']" required />
                    <!-- <div class="tool-tip slideIn top" *ngIf="valForm.controls['Relationship'].hasError('required') && (valForm.controls['Relationship'].dirty || valForm.controls['Relationship'].touched)">
                      <span class="text-white control-label">Relationship is required</span>
                    </div>-->
                  </div>
                </div>
              </fieldset>
              <fieldset>
                 <div class="form-group">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                      <button class="btn btn-block btn-primary mt-lg" [disabled]="!valForm.valid" type="submit"> Submit</button>
                    </div>
                    <div class="col-md-2">
                    	<a class="btn btn-block btn-danger mt-lg" (click)="cancle()"> Cancle</a>
                    </div>  
                  </div>
              </fieldset>
            </div>
          </div>
          <!-- END panel-->
        </form>
        <div class="p-lg text-center">
          <span>&copy;</span>
          <span>{{ settings.app.year }}</span>
          <span>-</span>
          <span>{{ settings.app.name }}</span>
          <br/>
          <span>{{ settings.app.description }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
