<div class="container-fluid">
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <div class="row">
    <div class="col-md-2"></div>
    <!--Space from right side-->
    <div class="col-md-8">
      <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
          <h3>Create Account</h3>
        </div>
        <form [formGroup]="valForm" role="form" name="registerForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
          <!-- START panel-->
          <div class="panel panel-default">
            <div class="panel-body">
              <fieldset class="b0">
                <legend>Personal Information</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">First Name*</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="text" placeholder="First name" formControlName="FirstName" [formControl]="valForm.controls['FirstName']" required />
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['FirstName'].hasError('required') && (valForm.controls['FirstName'].dirty || valForm.controls['FirstName'].touched)">
                      <span class="text-white control-label">First name is required</span>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label">Last Name*</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="text" placeholder="Last name" formControlName="LastName" [formControl]="valForm.controls['LastName']" required/>
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['LastName'].hasError('required') && (valForm.controls['LastName'].dirty || valForm.controls['LastName'].touched)">
                      <span class="text-white control-label" >Last name is required</span>
                    </div>  
                  </div>
                </div>
              </fieldset>
              <fieldset class="b0">
                <legend>Contact Information</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Mobile*</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="text" placeholder="9876543210" formControlName="Phone" [formControl]="valForm.controls['Phone']" required />
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['Phone'].hasError('required') && (valForm.controls['Phone'].dirty || valForm.controls['Phone'].touched)">
                      <span class="text-white" >Mobile is required.</span>
                    </div>
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['Phone'].hasError('pattern') && (valForm.controls['Phone'].dirty || valForm.controls['Phone'].touched)">
                      <span class="text-white" >Mobile number must be digit.</span>
                    </div>
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['Phone'].hasError('rangeLength') && (valForm.controls['Phone'].dirty || valForm.controls['Phone'].touched )">
                      <span class="text-white" >Mobile number must be 10 digit.</span>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label">Email*</label>
                  <div class="col-sm-4 on-focus clearfix">
                    <input class="form-control" type="text" placeholder="xyz@examples.com" formControlName="Email" [formControl]="valForm.controls['Email']" required/>
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['Email'].hasError('required') && (valForm.controls['Email'].dirty || valForm.controls['Email'].touched)">
                      <span class="text-white" >Email is required</span>
                    </div> 
                    <div class="tool-tip slideIn top" *ngIf="valForm.controls['Email'].hasError('validEmail') && (valForm.controls['Email'].dirty || valForm.controls['Email'].touched)">
                    <span class="text-white" >Valid email is required</span></div>

                    <div class="tool-tip slideIn top"  *ngIf="valForm.controls['Email'].hasError('emailTaken')"><span class="text-white" >Email is taken</span></div>
                  </div> 
                </div>
                <br>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Password*</label>
                    <div class="col-sm-4 on-focus clearfix">
                      <input class="form-control" type="password" formControlName="Password" [formControl]="valForm.controls['Password']" placeholder="Password" required />
                      <div class="tool-tip slideIn top" *ngIf="valForm.controls['Password'].hasError('required') && (valForm.controls['Password'].dirty || valForm.controls['Password'].touched)">
                        <small class="text-white" >Password is required</small>
                      </div>
                      <div class="tool-tip slideIn top-pass" *ngIf=" valForm.controls['Password'].hasError('specialChar') || valForm.controls['Password'].hasError('passNumber') || valForm.controls['Password'].hasError('upperCase') || valForm.controls['Password'].hasError('passLength') ">
                        <ul>
                          <li *ngIf="valForm.controls['Password'].hasError('specialChar') && (valForm.controls['Password'].dirty || valForm.controls['Password'].touched)">
                            <small class="text-white">Special character required.</small>
                          </li> 
                          <li *ngIf="valForm.controls['Password'].hasError('passNumber') && (valForm.controls['Password'].dirty || valForm.controls['Password'].touched)"> 
                            <small class="text-white">Number is required.</small>
                          </li>
                          <li *ngIf="valForm.controls['Password'].hasError('upperCase') && (valForm.controls['Password'].dirty || valForm.controls['Password'].touched)">  
                            <small class="text-white">One Uppercase character is required.</small>
                          </li> 
                          <li *ngIf="valForm.controls['Password'].hasError('passLength') && (valForm.controls['Password'].dirty || valForm.controls['Password'].touched)"> 
                            <small class="text-white">Password minimum length should be 6.</small>
                          </li>  
                      </ul>
                      </div>
                    </div>
                    <label class="col-sm-2 control-label">Confirm Password*</label>
                    <div class="col-sm-4">
                      <input class="form-control" type="password"  placeholder="Confirm Password" formControlName="ConfirmPassword" [formControl]="valForm.controls['ConfirmPassword']" required/>
                      <span class="text-danger" *ngIf="valForm.controls['ConfirmPassword'].errors?.MatchPassword">Password does Not match</span>
                    </div>
                  </div>
              </fieldset>
              <fieldset>
                  <div class="form-group">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                      <button class="btn btn-block btn-primary mt-lg pull-right" [disabled]="!valForm.valid" type="submit"> Create account</button>
                    </div>  
                  </div>
              </fieldset>
            </div>
          </div>
          <!-- END panel-->
        </form>
        <div class="p-lg text-center">
          <span>&copy;</span>
          <span>{{ settings.app.year }}</span>
          <span>-</span>
          <span>{{ settings.app.name }}</span>
          <br/>
          <span>{{ settings.app.description }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
