<div class="container-fluid">
  <toaster-container [toasterconfig]="toaster"></toaster-container>
  <div class="row">
    <div class="col-lg-12">
      <div class="content-heading">Update Profile</div>
      <form [formGroup]="valForm" role="form" name="registerForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <button class='mb-sm btn-sm btn btn-primary btn-outline pull-right' type='button' (click)="onPatientList()"><i class="icon-action-undo"> Back</i></button>
            <legend>Personal Information</legend>
            <fieldset class="b0">
              <div class="form-group">
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="text" placeholder="First name" formControlName="FirstName" [formControl]="valForm.controls['FirstName']" required />
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['FirstName'].hasError('required') && (valForm.controls['FirstName'].dirty || valForm.controls['FirstName'].touched)">
                    <span class="text-white control-label">First name is required</span>
                  </div>
                </div>
                <!-- <label class="col-sm-2 control-label">Middle Name</label> -->
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="text" placeholder="Middle name" formControlName="MiddleName" [formControl]="valForm.controls['MiddleName']" />
                </div>
                <!-- <label class="col-sm-2 control-label">Last Name*</label> -->
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="text" placeholder="Last name" formControlName="LastName" [formControl]="valForm.controls['LastName']" required/>
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['LastName'].hasError('required') && (valForm.controls['LastName'].dirty || valForm.controls['LastName'].touched)">
                    <span class="text-white control-label">Last name is required</span>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="b0">
              <div class="form-group">
                <!--  <label class="col-sm-2 control-label">Date of Birth*</label> -->
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="date" placeholder="Date of Birth" formControlName="DateOfBirth" [formControl]="valForm.controls['DateOfBirth']" required />
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['DateOfBirth'].hasError('required') && (valForm.controls['DateOfBirth'].dirty || valForm.controls['DateOfBirth'].touched)">
                    <span class="text-white control-label">Date of Birth is required</span>
                  </div>
                </div>
                <!-- <label class="col-sm-2 control-label">Gender*</label> -->
                <div class="col-sm-4 on-focus clearfix">
                  <select class="form-control" formControlName="Gender" [formControl]="valForm.controls['Gender']" placeholder="Please select.." required>
                    <option value="" [disabled]="true">Select gender</option>
                    <option *ngFor="let gen of gender" [value]="gen.name" [selected]="Gender">{{gen.name}}</option>
                  </select>
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['Gender'].hasError('required') && (valForm.controls['Gender'].dirty || valForm.controls['Gender'].touched)">
                    <span class="text-white control-label">Gender is required</span>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="b0">
              <legend>Contact Information</legend>
              <div class="form-group">
                <!-- <label class="col-sm-2 control-label">Mobile*</label> -->
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="text" placeholder="9876543210" formControlName="Phone" [formControl]="valForm.controls['Phone']" required />
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['Phone'].hasError('required') && (valForm.controls['Phone'].dirty || valForm.controls['Phone'].touched)">
                    <span class="text-white">Mobile is required.</span>
                  </div>
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['Phone'].hasError('pattern') && (valForm.controls['Phone'].dirty || valForm.controls['Phone'].touched)">
                    <span class="text-white">Mobile number must be digit.</span>
                  </div>
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['Phone'].hasError('rangeLength') && (valForm.controls['Phone'].dirty || valForm.controls['Phone'].touched )">
                    <span class="text-white">Mobile number must be 10 digit.</span>
                  </div>
                </div>
                <!-- <label class="col-sm-2 control-label">Email*</label> -->
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="text" placeholder="xyz@examples.com" formControlName="Email" [formControl]="valForm.controls['Email']" />
                </div>
              </div>
            </fieldset>
            <fieldset class="b0">
              <legend>Address</legend>
              <div class="form-group">
                <!-- <label class="col-sm-2 control-label">Address1*</label> -->
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="text" placeholder="Address1" formControlName="Address1" [formControl]="valForm.controls['Address1']" required />
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['Address1'].hasError('required') && (valForm.controls['Address1'].dirty || valForm.controls['Address1'].touched)">
                    <span class="text-white control-label">First name is required</span>
                  </div>
                </div>
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="text" placeholder="Address2" formControlName="Address2" [formControl]="valForm.controls['Address2']" />
                </div>
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="text" placeholder="Address3" formControlName="Address3" [formControl]="valForm.controls['Address3']" />
                </div>
              </div>
            </fieldset>
            <fieldset class="b0">
              <div class="form-group">
                <div class="col-sm-4 on-focus clearfix">
                  <input ngui-auto-complete formControlName="Country" [formControl]="valForm.controls['Country']" [source]="getCountry.bind(this)" [list-formatter]="autocompleForCountry" display-property-name="CountryName" value-property-name="CountryId" placeholder="Type Country name..." class="form-control" accept-user-input="true" no-match-found-text="No Match Found" loading-text="Searching in database..." min-chars="2" required>
                </div>
                <div class="col-sm-4 on-focus clearfix">
                  <input ngui-auto-complete formControlName="State" [formControl]="valForm.controls['State']" [source]="getState.bind(this)" [list-formatter]="autocompleForState" display-property-name="StateName" value-property-name="StateId" placeholder="Type State name..." class="form-control" accept-user-input="true" no-match-found-text="No Match Found" loading-text="Searching in database..." min-chars="2" required>
                </div>
                <div class="col-sm-4 on-focus clearfix">
                  <input ngui-auto-complete formControlName="City" [formControl]="valForm.controls['City']" [source]="getCity.bind(this)" [list-formatter]="autocompleForCity" display-property-name="CityName" value-property-name="CityId" placeholder="Type City name..." class="form-control" accept-user-input="true" no-match-found-text="No Match Found" loading-text="Searching in database..." min-chars="2" required>
                </div>
              </div>
            </fieldset>
            <fieldset class="b0">
              <div class="form-group">
                <div class="col-sm-4 on-focus clearfix">
                  <input class="form-control" type="text" placeholder="ZIP" formControlName="ZIP" [formControl]="valForm.controls['ZIP']" required />
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['ZIP'].hasError('required') && (valForm.controls['ZIP'].dirty || valForm.controls['ZIP'].touched)">
                    <span class="text-white">ZIP is required.</span>
                  </div>
                  <div class="tool-tip slideIn top" *ngIf="valForm.controls['ZIP'].hasError('pattern') && (valForm.controls['ZIP'].dirty || valForm.controls['ZIP'].touched)">
                    <span class="text-white">Mobile number must be digit.</span>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                  <button class="btn btn-block btn-primary mt-lg pull-right" [disabled]="valForm.invalid" type="submit"> Update</button>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!-- END panel-->
      </form>
    </div>
  </div>
</div>
