<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div *ngIf='profileList'>
    <div class="content-heading">
        Patient Profiles
    </div>
    <div class="mb-lg clearfix">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="pull-let wd-md">
                    <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
                </div>        
            </div>          
        </div>
    </div>
    <div class="panel panel-default">
        <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="getPatientDetail($event)" [rows]="rows" [columns]="columns">
        </ng-table>
    </div>
    <div class="text-right">
        <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
    </div>
</div>

<div *ngIf='profileDetail'>
    <app-updatepatients [patientProfileDetail]="patientData"></app-updatepatients>
</div>    