<div id="collapse01">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-lg clearfix">
            <div class="pull-let wd-md">
              <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
            </div>
          </div>
          <div class="panel panel-default">
            <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="visitDetail($event)" [rows]="rows" [columns]="columns">
            </ng-table>
          </div>
          <div class="text-right">
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
          </div>
        </div>
        <div class="col-md-12" *ngIf="showAlerts">
          Record is not available!!!!
          <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type">{{ alert?.msg }}</alert>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div *ngIf="visitVisible">
    Start Visit detail
    <app-visitdetail [patientVisitInfo] = "visitInfo"></app-visitdetail>
    End Visit detail    
</div>-->

