body.loading #loadingModal {
    display: block;
}

#loadingModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('../img/preloader/loading.gif') 50% 50% no-repeat;
}

.text-white{
    color: #ffffff;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.select-ng-invalid  {
  border-left: 5px solid #a94442; /* red */
}

/**For tool-tip **/
    /* tooltip */


.tool-tip{
    color: #fff;
    background-color: rgba( 0, 0, 0, .8);
    text-shadow: none;
    font-size: 1.2em;
    visibility: hidden;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    -o-border-radius: 7px; 
    border-radius: 7px; 
    text-align: left; 
    opacity: 0;
    z-index: 999;
    padding: 3px 8px;   
    position: absolute;
    cursor: default;
    -webkit-transition: all 240ms ease-in-out;
    -moz-transition: all 240ms ease-in-out;
    -ms-transition: all 240ms ease-in-out;
    -o-transition: all 240ms ease-in-out;
    transition: all 240ms ease-in-out;  
}

.tool-tip{
    top: auto;
    bottom: 114%;
    left: 70%;      
}

.tool-tip.top{
    top: auto;
    bottom: 114%;
    left: 25%;      
}

.tool-tip.top:after,
.tool-tip:after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -7px;
    content: ' ';
    height: 0px;
    width: 0px;
    border: 6px solid transparent;
    border-top-color: rgba( 0, 0, 0, .8);   
}

/* default heights, width and margin w/o Javscript */

.tool-tip{
    width: 295px;
    height: 115px;
    margin-left: -43px;
}

.tool-tip.top{
    width: auto;
    height: 30px;
    margin-left: -30px;
}

.tool-tip.top-pass{
    width: 295px;
    height: 115px;
    margin-left: -50%;
}

/* tool tip position right */

.tool-tip.right{
    top: 30%;
    right: auto;
    left: 100%;
    margin-top: -10px;
    margin-right: auto; 
    margin-left: auto;
}

.tool-tip.right:after{
    left: -5px;
    top: 30%;   
    margin-top: -6px;
    bottom: auto;
    border-top-color: transparent;  
    border-right-color: rgba( 0, 0, 0, .7); 
}

/* tool tip position left */

.tool-tip.left{
    top: 50%;
    left: auto;
    right: 105%;
    margin-top: -15px;  
    margin-left: auto;  
}

.tool-tip.left:after{
    left: auto;
    right: -12px;
    top: 50%;
    margin-top: -6px;
    bottom: auto;
    border-top-color: transparent;  
    border-left-color: rgba( 0, 0, 0, .7);  
}

/* tool tip position bottom */

.tool-tip.bottom{
    top: 115%;
    bottom: auto;
    left: 50%;
    margin-bottom: auto;    
}

.tool-tip.bottom:after{
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -7px;
    content: ' ';
    height: 0px;
    width: 0px;
    border: 6px solid transparent;
    border-top-color: transparent;  
    border-bottom-color: rgba( 0, 0, 0, .6);    
}

/* tooltip on focus left and right */

.on-focus .tool-tip.left,
.on-focus .tool-tip.right{
    margin-top: -19px;
}

/* on hover of element containing tooltip default*/

*:not(.on-focus):hover > .tool-tip,
.on-focus input:focus + .tool-tip{
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 240ms ease-in-out;
    -moz-transition: all 240ms ease-in-out;
    -ms-transition: all 240ms ease-in-out;
    -o-transition: all 240ms ease-in-out;
    transition: all 240ms ease-in-out;      
}


/* tool tip slide out */

*:not(.on-focus) > .tool-tip.slideIn,
.on-focus > .tool-tip{
    display: block;
}

.on-focus > .tool-tip.slideIn{
    z-index: -1;
}

.on-focus > input:focus + .tool-tip.slideIn{
    z-index: 1;
}

/* bottom slideIn */

*:not(.on-focus) > .tool-tip.slideIn.bottom,
.on-focus > .tool-tip.slideIn.bottom{
    top: 50%;   
}

*:not(.on-focus):hover > .tool-tip.slideIn.bottom,
.on-focus > input:focus + .tool-tip.slideIn.bottom{
    top: 115%;
}   

.on-focus > input:focus + .tool-tip.slideIn.bottom{
    top: 100%;
}

/* top slideIn */

*:not(.on-focus) > .tool-tip.slideIn,
*:not(.on-focus) > .tool-tip.slideIn.top,
.on-focus > .tool-tip.slideIn,
.on-focus > .tool-tip.slideIn.top{
    bottom: 50%;
}

*:not(.on-focus):hover > .tool-tip.slideIn,
*:not(.on-focus):hover > .tool-tip.slideIn.top,
.on-focus > input:focus + .tool-tip.slideIn,
.on-focus > input:focus + .tool-tip.slideIn.top{
    bottom: 110%;
}   

/* left slideIn */

*:not(.on-focus) > .tool-tip.slideIn.left,
.on-focus > .tool-tip.slideIn.left{
    right: 50%; 
}

*:not(.on-focus):hover > .tool-tip.slideIn.left,
.on-focus > input:focus + .tool-tip.slideIn.left{
    right: 105%;        
}

/* right slideIn */

*:not(.on-focus) > .tool-tip.slideIn.right,
.on-focus > .tool-tip.slideIn.right{
    left: 50%;      
}

*:not(.on-focus):hover > .tool-tip.slideIn.right,
.on-focus > input:focus + .tool-tip.slideIn.right{
    left: 105%;
}

/*** */

.div-hover:hover{
    background-color: #5d9cec;
    color: #fff;
}

.toast-top-full-width {
  margin-top: 60px;
  margin-left: 50%;
  right: 0;
  width: 400px !important;
}

/*Ng2 table auto adjust */

.d-table-fixed {
    table-layout: auto !important;
}


/*Mobile View for table*/
@media screen and (max-width: 600px) {
table {width:100%;}
thead {display: none;}
tr:nth-of-type(2n) {background-color: inherit;}
tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
tbody td {display: block;  text-align:center;}
tbody td:before { 
    content: attr(data-th); 
    display: block;
    text-align:center;  
  }
}

table.d-table-fixed{
    min-height: 10% !important;
}

.modal-lg{
    margin-top: 5% !important;
}

.heading{
    margin-top: 1% !important;
    margin-left: 2%;
}

.margin-top{
    margin-top: 1%
}