<div class="content-heading">Appointment
    <div class="pull-right">
        <!--<button type="button" class="btn btn-info btn-bloc" (click)="addRandomEvent()">Add random event</button>-->
    </div>
    <small>Select doctor to see calendar.</small>
</div>
<!-- START row-->
<div class="calendar-app">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">Pull Doctor's Calendar</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <p>Select Doctor:</p>
                        </div>
                        <div class="col-lg-8 col-md-9">
                            <ng-select [allowClear]="true" [items]="items" placeholder="Nothing selected"></ng-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <br>
                            <button type="button" class="btn btn-info btn-bloc pull-right" (click)="addRandomEvent()">Pull Calendar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedEvent">
                <p>Selected:</p>
                <div class="box-placeholder">{{selectedEvent | json}}</div>
            </div>
            <div *ngIf="!selectedEvent">
                <p>Click calendar to show information</p>
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Calendar</div>
                <div class="panel-body">
                    <!-- START calendar-->
                    <div #fullcalendar class="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
