<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail img-circle" [src]="profilePic" alt="Avatar" />
            <div class="circle circle-success circle-lg"></div>
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name">{{ 'sidebar.WELCOME' | translate }}  {{userName}}</span>
        <!-- <span class="user-block-role">Programmer</span> -->
    </div>
</div>
