<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <alert class="text-center" *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
          <h2>{{ alert?.msg }}</h2></alert>
    </div>
  </div>
  <div class="row" *ngIf=dispay_options>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <alert type="" class="text-center">
        <h4>Please select below option to proceed!!!</h4></alert>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" *ngIf=dispay_options>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="panel panel-default  div-hover">
        <div class="panel-body text-center">
          <img class="center-block img-responsive img-circle thumb64" src="assets/img/user/02.jpg" alt="Contact" />
          <h4>Account Owner</h4>
          <p>Proceed as a account Owner.</p>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right"><a class="btn btn-md btn-primary" (click)="asAccountOwner();">As Account Owner</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default div-hover">
        <div class="panel-body text-center">
          <img class="center-block img-responsive img-circle thumb64" src="assets/img/user/03.jpg" alt="Contact" />
          <h4>Patient</h4>
          <p>Proceed as a Patient.</p>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right"><a class="btn btn-md btn-primary" (click)="asPatient();">As Patient</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
